*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(75,35,0,0.5),rgba(75,35,0,0.5)),url(./bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    display: grid;
    grid-template-columns: 1fr,1fr,1fr,1fr;
   grid-template-rows:0.2fr,1.5fr,1.5fr,0.3fr ;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar left right right"
    "sidebar footer footer footer";
}
nav{
    grid-area: nav;
    background-color: aqua;
}
.main{
    grid-area: main;
    background-color: blueviolet;
}
.sidebar{
    grid-area: sidebar;
    background-color: lightslategrey;
}
.left{
    grid-area: left;
    background-color: brown;
}
.right{
    grid-area: right;
    background-color: darkolivegreen;
}
footer{
    grid-area:footer;
    background-color: darkkhaki;
}
@media only screen and (max-width:768px)     {

    .container{
        display: grid;
        grid-template-columns: 1fr;
       grid-template-rows:0.2fr,1.5fr,1.5fr,0.3fr ;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "left"
        "right"
        "footer";
    }
}